.env
eco-inventory-0b79d92fc1ab.jsonbackend/eco-inventory-0b79d92fc1ab.json
shared/eco-inventory-0b79d92fc1ab.json
backend/eco-inventory-0b79d92fc1ab.json
shared/eco-inventory-0b79d92fc1ab.json
frontend/eco-inventory-0b79d92fc1ab.json
frontend/eco-inventory-0b79d92fc1ab.json
